<head>

<title>COVID-19 SA Dashboard</title>

<!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

<!--navbar links-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
    </ul>
  </div>
</nav>

<!--middle section-->
<div class="row">

    <!--visualizations column-->
    <div class="col-11">

        <!--chart descriptions-->
        <div id="middle-info" class="mt-1 text-center">

            <h2 id="tag-line">South Africa COVID-19 dashboard</h2>

        </div>

        <!--charts-->
        <div id="charts" class="container mt-3 text-center">

            <div class="row mb-6">
              <div class="col-12">
                    <div id="{{ids[9]}}"></div>
              </div>
            </div>

            <div class="row mb-6">
              <div class="col-12">
                    <div id="{{ids[20]}}"></div>
              </div>
            </div>

            <!--top two charts-->
            <div class="row">
                <div class="col-6">
                      <div id="{{ids[0]}}"></div>
                </div>
                  <div class="col-6">
                      <div id="{{ids[1]}}"></div>
                  </div>
            </div>

            <div class="row mb-6">
                <div class="col-6">
                        <div id="{{ids[2]}}"></div>
                </div>
                <div class="col-6">
                        <div id="{{ids[3]}}"></div>
                    </div>
                </div>

            <div class="row mb-6">
                <div class="col-6">
                        <div id="{{ids[4]}}"></div>
                </div>
                <div class="col-6">
                        <div id="{{ids[5]}}"></div>
                </div>
            </div>

            <div class="row mb-6">
                <div class="col-6">
                        <div id="{{ids[6]}}"></div>
                </div>
                <div class="col-6">
                        <div id="{{ids[7]}}"></div>
                </div>
            </div>

            <div class="row mb-6">
                <div class="col-6">
                        <div id="{{ids[8]}}"></div>
                </div>
                <div class="col-6">
                        <div id="{{ids[9]}}"></div>
                </div>
            </div>

            <!-- ratio charts -->
            <div class="row mb-6">
              <div class="col-12">
                    <div id="{{ids[19]}}"></div>
              </div>
            </div>

            <div class="row">
                <div class="col-6">
                      <div id="{{ids[10]}}"></div>
                </div>
                  <div class="col-6">
                      <div id="{{ids[11]}}"></div>
                  </div>
            </div>

            <div class="row mb-6">
                <div class="col-6">
                        <div id="{{ids[12]}}"></div>
                </div>
                <div class="col-6">
                        <div id="{{ids[13]}}"></div>
                    </div>
                </div>

            <div class="row mb-6">
                <div class="col-6">
                        <div id="{{ids[14]}}"></div>
                </div>
                <div class="col-6">
                        <div id="{{ids[15]}}"></div>
                </div>
            </div>

            <!--bottom two charts-->
            <div class="row mb-6">
                <div class="col-6">
                        <div id="{{ids[16]}}"></div>
                </div>
                <div class="col-6">
                        <div id="{{ids[17]}}"></div>
                </div>
            </div>

            <div class="row mb-6">
                <div class="col-6">
                        <div id="{{ids[18]}}"></div>
                </div>
            </div>

            </div>
        </div>

<!--footer section-->
<div id="footer" class="container mt-3 text-center">
    <div id="middle-info" class="mt-1 text-center">
          <body>
            Data for this dashboard is from <a href="https://github.com/dsfsi/covid19za">Coronavirus
            COVID-19 (2019-nCoV) Data Repository for South Africa</a>. If you have any questions,
            please connect with me on <a href="https://github.com/feeblefruits/coviddash">Github</a>
            or send me an email to <a href="mailto: j.coetzee0@gmail.com">j.coetzee0@gmail.com</a>
          </body>
    </div>
    <!--social media buttons column-->
        <div id="follow-me" class="container mt-3 text-center">
            <a href="https://github.com/feeblefruits/coviddash">
                <img src="/static/img/githublogo.png" alt="github" class="img-fluid ml-2">
            </a>
        </div>

</div>

</body>


<footer>

    <script type="text/javascript">
        // plots the figure with id
        // id must match the div id above in the html

        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};

        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }

    </script>

</footer>


</html>
